workflow.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "cd08f724-4cc0-4d20-a934-fcaa79bf67a9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "includeSpamTrash": true,
          "receivedAfter": "={{ $now.minus({ hours: 1 }).toFormat('yyyy/MM/dd HH:mm:ss') }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -176
      ],
      "id": "03cfc2ae-733f-4724-873a-48792fae5bd3",
      "name": "Get many messages",
      "webhookId": "05251ab2-a951-4120-8863-f5a12f91f7de",
      "credentials": {
        "gmailOAuth2": {
          "id": "NrO7JsWh2l0CCAjS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/users/cihemir/events/public",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        224
      ],
      "id": "cfda98f5-d50f-495c-8069-1650b8b04d3f",
      "name": "HTTP Request",
      "credentials": {
        "githubOAuth2Api": {
          "id": "9qbAHR9S6NiySFcK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        224
      ],
      "id": "317b1f65-018d-41ca-b040-7d0c2bd1203e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        -176
      ],
      "id": "7c51267b-d799-4a26-9dc7-892ee21cc24d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const gmailData = $items(\"Aggregate\"); \nconst githubData = $items(\"Aggregate1\");\n\nconst now = new Date();\nconst oneHourAgo = new Date(now.getTime() - (60 * 60 * 1000));\nconst trTime = new Date(now.getTime() + (3 * 60 * 60 * 1000));\nconst currentHour = trTime.getUTCHours();\n\nlet recentGithubEvents = 0;\ngithubData.forEach(item => {\n    if (item.json && item.json.created_at) {\n        const eventTime = new Date(item.json.created_at);\n        if (eventTime >= oneHourAgo) {\n            recentGithubEvents++;\n        }\n    }\n});\n\nconst recentGmailCount = gmailData.length;\nlet anomalyScore = 0;\nlet findings = [];\n\nif (currentHour >= 0 && currentHour <= 6) {\n    if (recentGithubEvents > 0) {\n        anomalyScore += 70;\n        findings.push(`KRİTİK: Gece ${currentHour}:00'de ${recentGithubEvents} GitHub işlemi!`);\n    }\n    if (recentGmailCount > 10) {\n        anomalyScore += 30;\n        findings.push(`ŞÜPHELİ: Gece yoğun mail trafiği (${recentGmailCount} adet).`);\n    }\n}\n\nif (recentGmailCount > 50) {\n    anomalyScore += 40;\n    findings.push(\"UYARI: Beklenmedik mail hacmi patlaması.\");\n}\n\nlet status = \"GÜVENLİ\";\nif (anomalyScore >= 80) status = \"TEHLİKE\";\nelse if (anomalyScore >= 40) status = \"DİKKAT\";\n\n// Hata verdirmesi imkansız saat formatı\nconst timeString = trTime.toISOString().substring(11, 19);\n\nreturn {\n    sentinel_report: {\n      status: status,\n      risk_puani: `%${anomalyScore}`,\n      analiz_zamani: timeString,\n      veriler: {\n        son_1_saat_mail: recentGmailCount,\n        son_1_saat_github: recentGithubEvents\n      },\n      tespitler: findings.length > 0 ? findings : [\"Sistem stabil, anomali saptanmadı.\"]\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "de49580d-f765-45a6-aec2-4cd62479fd6a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "cihanemrbkts@gmail.com",
        "subject": "Bilgilendirme Raporu",
        "message": "=🛡️ SENTINEL OTONOM RAPORU 🛡️\nZaman: {{ $json.sentinel_report.analiz_zamani }}\nDurum: {{ $json.sentinel_report.status }}\nRisk Puanı: {{ $json.sentinel_report.risk_puani }}\n\n📊 Son 1 Saatlik Veri:\nMail Trafiği: {{ $json.sentinel_report.veriler.son_1_saat_mail }}\nGitHub Aktiviteleri: {{ $json.sentinel_report.veriler.son_1_saat_github }}\n\n🔍 Tespitler:\n{{ $json.sentinel_report.tespitler }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "6028895e-fd49-4f0c-b781-7ea786a6d55a",
      "name": "Send a message",
      "webhookId": "fe0591af-d6f6-40c6-bc24-49bf933c9527",
      "credentials": {
        "gmailOAuth2": {
          "id": "NrO7JsWh2l0CCAjS",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "41da26d2-72c2-4e41-bd78-479474cf25d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "591051b2a9305c7f7ae94acf1227557eee4db30e4b22601f23b83f86a3fcadfa"
  },
  "id": "7GKgI31YjQ46fECN",
  "tags": []
}